<div class="q">
<router-outlet></router-outlet>
<div class="h">
<p class="f">FooodPanda🐼</p>
</div>
<div class="w">
<form>
  <h3>Cash On Delivery</h3><br>
  <label>Name &nbsp;</label><br>
  <input type="text" placeholder="Fullname"><br>
<label>Username &nbsp;</label>
<input type="email" placeholder="Email"><br>
<label>Address &nbsp;</label>
<input type="address" placeholder="Full address"><br><br><br>
<input type="submit" value="Submit"><br><br>
<button type="button"onclick=" alert('YOUR ORDER IS PLACED');alert('DELICIOUS FOOD IS ON YOUR WAY')">ORDER</button>
</form>
</div>
</div>
